<!-- your html code here -->
<div class="container">
  <div class="row bg-white py-5">
    <div class="col-8 flex-row justify-content-start">
      <div class="d-flex">
        <h1>This first heading</h1>
        <h1 class="text-secondary ms-2">Will catch your eye</h1>
      </div>
      <p class="text-secondary">
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type of specimen book
      </p>
    </div>
    <div class="col-4 d-flex justify-content-center align-items-center">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYWOT8YzCDc2VMf-k5buR1_m3ddlOX5qqZhg&usqp=CAU"
        class="img-fluid rounded-circle" alt="ilustracion-rostro-mujer">
    </div>
  </div>
</div>