<div class="container">
    <div class="row bg-white py-5">
        <div class="col-4 pe-0">
            <img class="img-fluid rounded-circle" style="width: 500px; height: 350px;"
                src="https://st2.depositphotos.com/5398292/9941/v/950/depositphotos_99419470-stock-illustration-user-hands-on-keyboard-and.jpg"
                alt="manos-teclado">
        </div>
        <div class="col-8 ps-0">
            <div class="d-flex">
                <h1>The Second Heading</h1>
                <h1 class="text-secondary ms-2">Is Pretty Cool too.</h1>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, distinctio eaque consequuntur culpa
                excepturi atque, ex amet fuga obcaecati corrupti commodi quo libero? Nihil minus nostrum quam saepe,
                exercitationem ipsum!. Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
    </div>
</div>